{% extends 'base.html' %}
{% block body %}
<div class="container">
  <h1 class="my-3">영화 정보 조회</h1>
  <div class="form-group mb-0">
    <label for="title">영화 제목</label>
    <p class="form-control mb-0">{{ movie.title }}</p><br>
  </div>
  <div class="form-group mb-0">
    <label for="title">관객수</label>
    <p class="form-control mb-0">{{ movie.audience }}</p><br>
  </div>
  <div class="form-group mb-0">
    <label for="title">개봉일</label>
    <p class="form-control mb-0">{{ movie.open_date }}</p><br>
  </div>
  <div class="form-group mb-0">
    <label for="title">장르</label>
    <p class="form-control mb-0">{{ movie.genre }}</p><br>
  </div>
  <div class="form-group mb-0">
    <label for="title">시청 연령</label>
    <p class="form-control mb-0">{{ movie.watch_grade }}</p><br>
  </div>
  <div class="form-group mb-0">
    <label for="title">영화 평점</label>
    <p class="form-control mb-0">{{ movie.score }}</p><br>
  </div>
  <div class="form-group mb-0">
    <label for="title">줄거리</label>
    <p class="">{{ movie.description }}</p>
  </div>
  <div class="form-group mb-0">
    <img src="{{ movie.poster_url }}" style="width: 100%; height: auto;" alt="영화 포스터">
  </div>
  <a href="{% url 'home' %}" class="btn btn-dark my-3">목록</a>
  <a href="{% url 'movies:edit' movie.pk %}" class="btn btn-success my-3">수정</a>
  <a href="{% url 'movies:delete' movie.pk %}" class="btn btn-danger">삭제</a><br>
</div>
{% endblock %}