{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1 class="mt-3">영화 목록</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Title</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      {% for movie in movies %}
      <tr>
        <th scope="row">{{ movie.id }}</th>
        <td><a href="{% url 'movies:detail' movie.id %}">{{ movie.title }}</a></td>
        <td>{{ movie.score }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}