{% extends 'base.html' %}
{% block body %}
<div class="container">
  <h1 class="mt-3">영화 정보 생성</h1>
  <form action="{% url 'movies:create' %}" method="GET">
    <div class="form-group">
      <label for="title">영화 제목</label>
      <input type="text" class="form-control" name="title" id="tilte" placeholder="영화 제목 입력">
    </div>
    <div class="form-group">
      <label for="title_en">영어 제목</label>
      <input type="text" class="form-control" name="title_en" id="title_en" placeholder="영어 영화 제목 입력">
    </div>
    <div class="form-group">
      <label for="audience">관객수</label>
      <input type="number" class="form-control" name="audience" id="audience" placeholder="관객수 입력">
    </div>
    <div class="form-group">
      <label for="open_date">개봉일</label>
      <input type="date" class="form-control" name="open_date" id="open_date" placeholder="개봉일 입력">
    </div>
    <div class="form-group">
      <label for="genre">장르</label>
      <input type="text" class="form-control" name="genre" id="genre" placeholder="장르 입력">
    </div>
    <div class="form-group">
      <label for="watch_grade">시청 연령</label>
      <input type="text" class="form-control" name="watch_grade" id="watch_grade" placeholder="시청 연령">
    </div>
    <div class="form-group">
      <label for="score">평점</label>
      <input type="number" class="form-control" name="score" id="score" placeholder="평점 입력">
    </div>
    <div class="form-group">
      <label for="poster_url">포스터 이미지 주소</label>
      <input type="text" class="form-control" name="poster_url" id="poster_url" placeholder="포스터 이미지 주소 입력">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="" class="form-control" name="description" id="description" placeholder="기타">
    </div>
    <button type="submit" class="btn btn-primary">저장</button>
  </form>
</div>
{% endblock %}