div {
  height: 100px;
  width: 100px;
  color: #121212;
  line-height: 100px;
  text-align: center;
}
.frame {
  position: relative;
  height: 500px;
  width: 500px;
  border: 2px solid black;
  z-index: 2;
}

#pink {
  background-color: pink;
}
#blue {
  background-color: blue;
  position: relative;
  left: 100px;
}
#green {
  background-color: green;
  position: relative;
  left: 200px;
}
#red {
  background-color: red;
  position: absolute;
  left: 400px;
  top: 400px;
}
#yello {
  background-color: rgb(255, 230, 0);
  position: fixed;

}
#purple {
  background-color: purple;
  left: 400px;
}
#orange {
  background-color: orange;
  position: absolute;
  top: 0px;
  left: 200px;
}