<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jarvis</title>
</head>
<body>
    <h1>Jarvis v01</h1>
    <img width=700 src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d826d7c8-ed2e-4c5b-a53a-639f8ed71b07/da2h0ba-4f905a80-3438-48c6-957f-3ef873f7e7f4.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q4MjZkN2M4LWVkMmUtNGM1Yi1hNTNhLTYzOWY4ZWQ3MWIwN1wvZGEyaDBiYS00ZjkwNWE4MC0zNDM4LTQ4YzYtOTU3Zi0zZWY4NzNmN2U3ZjQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.QRS0ZF08tezprVUzXqhNEH0gtzcfJgDS4rEPayaYA_A">
    <br>
    <form action="/sendMessage">
    <input name=send_to_sir>
    <button>Command</button>
    </form>
    <p>Last Command From {{ chat_id }}, "{{ command }}"</p>
</body>
</html>