div {
  height: 100px;
  width: 100px;
  background-color: rgba(92, 0, 128, 0.726);
  line-height: 100px;
  text-align: center;
  color: #f0f0f0;
}

.box1 {
  background-color: red;
}
.box2 {
  background-color: orange;
  /* x,y,z 축 중 z 값을 부여하여 겹쳤을 때의 우선 순위를 표시 가능 */
  z-index: 1;
}
.box3 {
  background-color: yellowgreen;
}
.box4 {
  background-color: gray;
}
.box5 {
  background-color: rgba(0, 195, 255, 0.897);
}

.relative_left {
  position: relative;
  /* 자신의 원래 위치를 기준으로, 지정 값 만큼 이동 */
  /* top: 100px; */
  left: 100px;
}
.overlap {
  position: relative;
  /* 자신의 원래 위치를 기준으로, 지정 값 만큼 이동 */
  bottom: 100px;
  left: 100px;
}
.absolute {
  position: absolute;
  left: 190px;
  top: 100px;
}
.fixed {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}