<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google</title>
</head>
<body>
    <a href="/pastlife">UR 전생!</a>&nbsp<a href="/goonghap">UR 궁합!</a>
    <a href="/opgg">LoL 전적 검색!</a>

    <br>

    <img width=300 src={{ google_logo }}>
    <form action="https://www.google.com/search">
        <input name="q">
        <button title="Search">Search</button>
    </form>
    
    <br>
    <br>
    <br>
    <br>

    <img width=400 src={{ naver_logo }}>
    <form action="https://search.naver.com/search.naver">
        <br>
        <input name="query">
        <button title="Search">Search</button>
    </form>

    <br>
    <br>
    <br>
    <br>

    <img src={{ daum_logo }}>
    <form action="https://search.daum.net/search">
        <br>
        <input name="q">
        <button title="Search">Search</button>
    </form>

</body>
</html>